/*
Author: Genio - Yüce Özkan
Author URL: http://www.genio.com.tr/
*/

/*
Custom Fonts
**********************/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Cormorant:400,700&subset=latin-ext');

/*
Base
**********************/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}


* {font-family:'Lato',Arial,sans-serif;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{background:#fff;font:normal 400 16px/120% 'Lato',Arial,sans-serif;color:#000;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-webkit-overflow-scrolling:touch;}

h1,h2,h3,h4,h5,h6{font-weight:400}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
h1{font-size:50px;font-weight:300;margin-bottom:20px;}
h2{font-size:40px;margin-bottom:20px;}
h3{}
h4{}
h5{}
h6{}

.subheader{color:#777}

p{margin:0 0 20px;}
p img{margin:0}
em{font-style:italic}
strong{font-weight:900;}
b{font-weight:900;}
small{font-size:80%}

blockquote,blockquote p{font-size:17px;line-height:24px;color:#777;font-style:italic}
blockquote{margin:0 0 20px;padding:9px 20px 0 19px;border-left:1px solid #ddd}
blockquote cite{display:block;font-size:12px;color:#555}
blockquote cite:before{content:"\2014 \0020"}
blockquote cite a,blockquote cite a:visited{color:#555}

hr{border:1px solid #ddd;clear:both;margin:10px 0 30px;height:0}

a{color:inherit;text-decoration:none;outline:0}
a:visited,a:focus,a:hover{}

p a{color:inherit;line-height:inherit;text-decoration:underline;}

ol,ul{margin-bottom:20px}
ul{list-style:none outside}
ol{list-style:inside decimal}
ol,ul.circle,ul.disc,ul.square{margin-left:0}
ul.square{list-style:square outside}
ul.circle{list-style:circle outside}
ul.disc{list-style:disc outside}
ol ol,ol ul,ul ol,ul ul{margin:4px 0 5px 30px;font-size:90%}
ol ol li,ol ul li,ul ol li,ul ul li{margin-bottom:6px}
li{line-height:24px;margin-bottom:6px}

img.scale-with-grid{max-width:100%;height:auto}

input,select,a img{vertical-align:middle;}
.button,button,input[type=button],input[type=reset],input[type=submit]{}
.button:hover,button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover{}
.button:active,button:active,input[type=button]:active,input[type=reset]:active,input[type=submit]:active{}
.button.full-width,button.full-width,input[type=button].full-width,input[type=reset].full-width,input[type=submit].full-width{}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
fieldset,form{margin-bottom:20px}
input[type=email],input[type=password],input[type=text],select,textarea{}
select{padding:0}
input[type=email]:focus,input[type=password]:focus,input[type=text]:focus,textarea:focus{}
textarea{min-height:60px}
label,legend{display:block;font-weight:700;font-size:13px}
select{width:220px}
input[type=checkbox]{display:inline}
label span,legend span{font-weight:400;font-size:13px;color:#444}

*{outline:0;outline:none;-moz-outline-style:none;}
*:focus{outline:0;outline:none;-moz-outline-style:none;}
*:selected{outline:0;outline:none;-moz-outline-style:none;}
:-moz-any-link:focus{outline:none;}
a:active,a:focus,a:selected{outline:0;outline:none;-moz-outline-style:none;}
textarea {resize:none;overflow:auto;}
input {-webkit-appearance:none;border-radius:0;}
select {-webkit-appearance:none;border-radius:0;}
textarea {-webkit-appearance:none;border-radius:0;}
input[type=search] {-webkit-appearance: none;}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {display: none;}

.jq-ry-container{position:relative;line-height:0;display:block;cursor:pointer;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;direction:ltr}
.jq-ry-container[readonly=readonly]{cursor:default}
.jq-ry-container>.jq-ry-group-wrapper{position:relative;width:100%}
.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group{position:relative;line-height:0;z-index:10;white-space:nowrap}
.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg{display:inline-block}
.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-normal-group{width:100%}
.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-rated-group{width:0;z-index:11;position:absolute;top:0;left:0;overflow:hidden;background:#fff;}

.center {float:none !important;margin-left:auto !important;margin-right:auto !important;display:block !important;}
.overflow-hidden {overflow: hidden!important;}
.pull-left {float:left !important;}
.pull-right {float:right !important;}
.remove-bottom{margin-bottom:0!important}
.half-bottom{margin-bottom:10px!important}
.add-bottom{margin-bottom:20px!important}
.add-2x-bottom{margin-bottom:40px!important}
.add-3x-bottom{margin-bottom:60px!important}
.remove-top{margin-top:0!important}
.half-top{margin-top:10px!important}
.add-top{margin-top:20px!important}
.add-2x-top{margin-top:40px!important}
.add-3x-top{margin-top:60px!important}
.text-left {text-align:left !important;}
.text-center {text-align:center !important;}
.text-right {text-align:right !important;}
.bold {font-weight:bold !important;}
.half-right {margin-right:10px;}
.add-right {margin-right:20px;}
