/*
Author: Genio - Yüce Özkan
Author URL: http://www.genio.com.tr/
*/

fieldset, form {margin:0;}
label,legend {font-weight:inherit;font-size:0;color:inherit;}
label span,legend span {font-weight:inherit;font-size:inherit;color:inherit;}
svg, path, circle {margin:0;padding:0;display:block;}

html,body {height:100%;}
body {background:#b283c2;-webkit-touch-callout:none;-webkit-text-size-adjust:none;-webkit-user-select: none;-webkit-highlight:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}

.zeki-bot {position:absolute;top:0;left:0;width:100%;height:100%;background:#e1b492;overflow:hidden;}

form#search {position:absolute;bottom:1px;left:50%;margin-left:-322px;width:656px;height:66px;z-index:3;}
form#search label {}
form#search label input {width:100%;height:66px;line-height:66px;padding:0 70px 0 20px;color:#000;font-size:1.6vw;font-weight:bold;border:0;background:none transparent;}
form#search button {position:absolute;top:0;right:0;border:0;outline:0;width:66px;height:66px;background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.7 37.7"><path d="M36.5 30.8L28 22.3c3.2-5.7 2.4-13.1-2.4-18-5.8-5.8-15.4-5.8-21.2 0-5.8 5.8-5.8 15.4 0 21.2 4.9 4.9 12.3 5.7 18 2.4l8.5 8.5c1.6 1.6 4.1 1.6 5.7 0s1.4-3.9-.1-5.6z"/><path d="M10 19.9c-2.7-2.7-2.7-7.2 0-9.9s7.2-2.7 9.9 0 2.7 7.2 0 9.9-7.2 2.7-9.9 0z" fill="#fff"/></svg>') no-repeat center;background-size:37px;cursor:pointer;}

svg#saclar {position:absolute;top:-30px;left:0;width:100%;height:auto;z-index:0;}
svg#gomlek {position:absolute;bottom:-80px;left:0;width:100%;height:auto;z-index:0;}

svg#zekiLogo {position:absolute;top:5.7%;left:3.3%;width:187px;height:109px;z-index:1;}
svg#vatanBilgisayarLogo {position:absolute;bottom:10.5%;right:9.4%;width:172.6px;height:53px;z-index:1;}
svg#intelLogo {position:absolute;bottom:5.7%;left:11.5%;width:114px;height:119px;z-index:1;}

svg#solYanak {position:relative;float:left;width:237px;margin-left:-118px;margin-top:148px;z-index:1;}
svg#sagYanak {position:relative;float:right;width:237px;margin-right:-118px;margin-top:148px;z-index:1;}

#subtitle {position:absolute;top:100%;left:0;margin-top:20px;text-align:center;width:100%;z-index:3;}
#subtitle span {background:rgba(0,0,0,0.2);color:#fff;font-size:1.6vw;line-height:2vw;padding:0 10px;display:inline-block;}

#faceDetails {position:absolute;width:1471px;height:449px;left:50%;top:50%;margin-left:-735px;margin-top:-294.5px;z-index:2;}
#faceDetails {background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1471 449"><style>.st0{fill:#e3a694}.st2{fill:#5c5c5c}</style><circle class="st0" cx="118.5" cy="282.5" r="118.5"/><circle class="st0" cx="1352.5" cy="282.5" r="118.5"/><path d="M1052 449H420.1c-6.6 0-12-5.4-12-12v-42.2c0-6.6 5.4-12 12-12H1052c6.6 0 12 5.4 12 12V437c0 6.6-5.4 12-12 12z" fill="#fff"/><path d="M1052 356H756.1c-6.6 0-12-5.4-12-12v-42.2c0-6.6 5.4-12 12-12H1052c6.6 0 12 5.4 12 12V344c0 6.6-5.4 12-12 12zm-336 0H420.1c-6.6 0-12-5.4-12-12v-42.2c0-6.6 5.4-12 12-12H716c6.6 0 12 5.4 12 12V344c0 6.6-5.4 12-12 12z"/><circle cx="1137.3" cy="131.5" r="39.5"/><path d="M1209.7 106.1h-144.8c-4.4 0-8.1-3.6-8.1-8.1 0-4.4 3.6-8.1 8.1-8.1h144.8c4.4 0 8.1 3.6 8.1 8.1-.1 4.5-3.7 8.1-8.1 8.1z"/><circle class="st2" cx="1117.3" cy="130.7" r="11.3"/><circle cx="323.5" cy="131.5" r="39.5"/><path d="M395.9 106.1H251.1c-4.4 0-8.1-3.6-8.1-8.1 0-4.4 3.6-8.1 8.1-8.1h144.8c4.4 0 8.1 3.6 8.1 8.1s-3.6 8.1-8.1 8.1z"/><circle class="st2" cx="303.5" cy="130.7" r="11.3"/><path d="M471.3 66.2H175.8c-6.6 0-12-5.4-12-12V12c0-6.6 5.4-12 12-12h295.5c6.6 0 12 5.4 12 12v42.2c0 6.6-5.4 12-12 12zm813.7 0H989.5c-6.6 0-12-5.4-12-12V12c0-6.6 5.4-12 12-12H1285c6.6 0 12 5.4 12 12v42.2c0 6.6-5.4 12-12 12z"/></svg>') no-repeat center top;background-size:100%;}

body.mimik form#search {display:none!important;}

body.mimik.mimik-1 #faceDetails {width:1340px;height:504px;margin-left:-670px;margin-top:-330.5px;}
body.mimik.mimik-1 #faceDetails {background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1341 504"><style>.st0{fill:#e3a694}.st1{fill:#5c5c5c}</style><circle class="st0" cx="118.8" cy="308.8" r="118.5"/><circle class="st0" cx="1222.8" cy="306.2" r="118.5"/><path d="M994.5 170.2l4.9 41.9c.8 6.6-4 12.5-10.5 13.3L695 259.7c-6.6.8-12.5-4-13.3-10.5l-4.9-41.9c-.8-6.6 4-12.5 10.5-13.3l293.9-34.3c6.5-.8 12.5 4 13.3 10.5zM663.4 208.6l-5.2 41.9c-.8 6.5-6.8 11.2-13.4 10.4l-293.6-36.7c-6.5-.8-11.2-6.8-10.4-13.4l5.2-41.9c.8-6.5 6.8-11.2 13.4-10.4L653 195.2c6.5.8 11.2 6.9 10.4 13.4z"/><circle cx="1071.3" cy="91.5" r="39.5"/><circle class="st1" cx="1051.3" cy="90.7" r="11.3"/><circle cx="257.5" cy="91.5" r="39.5"/><circle class="st1" cx="237.5" cy="90.7" r="11.3"/><path d="M400 107.5L106.8 70.3c-6.5-.8-11.2-6.9-10.4-13.4l5.3-41.9c.8-6.5 6.9-11.2 13.4-10.4l293.2 37.2c6.5.8 11.2 6.9 10.4 13.4l-5.3 41.9c-.9 6.6-6.9 11.2-13.4 10.4zM1222.1 65.7l-292.7 40.4c-6.5.9-12.6-3.7-13.5-10.2L910.1 54c-.9-6.5 3.7-12.6 10.2-13.5L1213 .1c6.5-.9 12.6 3.7 13.5 10.2l5.8 41.8c1 6.6-3.6 12.7-10.2 13.6z"/><path d="M792.8 480.9c0 13-10.5 23.5-23.5 23.5H568.6c-13 0-23.5-10.5-23.5-23.5V296.6c0-13 10.5-23.5 23.5-23.5h200.7c13 0 23.5 10.5 23.5 23.5v184.3z" fill="#fff"/></svg>') no-repeat center top;background-size:100%;}

body.mimik.mimik-2 #faceDetails {width:1471px;height:350px;margin-left:-735.5px;margin-top:-229.5px;}
body.mimik.mimik-2 #faceDetails {background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1471 350"><style>.st0{fill:#e3a694}.st2{fill:#5c5c5c}</style><circle class="st0" cx="118.5" cy="219.5" r="118.5"/><circle class="st0" cx="1352.5" cy="219.5" r="118.5"/><path d="M1052 350.1H420.1c-6.6 0-12-5.4-12-12v-6.3c0-6.6 5.4-12 12-12H1052c6.6 0 12 5.4 12 12v6.3c0 6.6-5.4 12-12 12z" fill="#fff" id="agiz"/><path d="M1052 293H756.1c-6.6 0-12-5.4-12-12v-42.2c0-6.6 5.4-12 12-12H1052c6.6 0 12 5.4 12 12V281c0 6.6-5.4 12-12 12zM716 293H420.1c-6.6 0-12-5.4-12-12v-42.2c0-6.6 5.4-12 12-12H716c6.6 0 12 5.4 12 12V281c0 6.6-5.4 12-12 12z"/><circle cx="1137.3" cy="68.5" r="39.5"/><circle class="st2" cx="1117.3" cy="67.7" r="11.3"/><circle cx="323.5" cy="68.5" r="39.5"/><circle class="st2" cx="303.5" cy="67.7" r="11.3"/><path d="M471.3 66.2H175.8c-6.6 0-12-5.4-12-12V12c0-6.6 5.4-12 12-12h295.5c6.6 0 12 5.4 12 12v42.2c0 6.6-5.4 12-12 12zM1285 66.2H989.5c-6.6 0-12-5.4-12-12V12c0-6.6 5.4-12 12-12H1285c6.6 0 12 5.4 12 12v42.2c0 6.6-5.4 12-12 12z"/></svg>') no-repeat  center top;background-size:100%;}

body.mimik.mimik-3 #faceDetails {width:1341px;height:549px;margin-left:-670.5px;margin-top:-360px;}
body.mimik.mimik-3 #faceDetails {background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1341 549"><style>.st0{fill:#e3a694}.st1{fill:#5c5c5c}</style><circle class="st0" cx="118.8" cy="400.8" r="118.5"/><circle class="st0" cx="1222.8" cy="398.2" r="118.5"/><path d="M994.5 289.2l4.9 41.9c.8 6.6-4 12.5-10.5 13.3L695 378.7c-6.6.8-12.5-4-13.3-10.5l-4.9-41.9c-.8-6.6 4-12.5 10.5-13.3l293.9-34.3c6.5-.8 12.5 4 13.3 10.5zM663.4 327.6l-5.2 41.9c-.8 6.5-6.8 11.2-13.4 10.4l-293.6-36.7c-6.5-.8-11.2-6.8-10.4-13.4l5.2-41.9c.8-6.5 6.8-11.2 13.4-10.4L653 314.2c6.5.8 11.2 6.9 10.4 13.4z"/><circle cx="1071.3" cy="183.5" r="39.5"/><path d="M1137.3 180.9l-137.1-46.5c-4.2-1.4-6.5-6-5.1-10.3 1.4-4.2 6-6.5 10.3-5.1l137.1 46.5c4.2 1.4 6.5 6 5.1 10.3-1.6 4.3-6.2 6.5-10.3 5.1z"/><circle class="st1" cx="1051.3" cy="182.7" r="11.3"/><circle cx="257.5" cy="183.5" r="39.5"/><path d="M322.7 138l-140.3 35.6c-4.3 1.1-8.7-1.5-9.8-5.9-1.1-4.3 1.5-8.7 5.9-9.8l140.3-35.6c4.3-1.1 8.7 1.5 9.8 5.9 1 4.3-1.6 8.7-5.9 9.8z"/><circle class="st1" cx="237.5" cy="182.7" r="11.3"/><path d="M393.9 74.6l-286.8 71.2c-6.4 1.6-12.9-2.4-14.5-8.8L82.4 96c-1.6-6.4 2.4-12.9 8.8-14.5L378 10.4c6.4-1.6 12.9 2.4 14.5 8.8l10.2 41c1.6 6.3-2.4 12.8-8.8 14.4zM1210.7 160.4l-279.4-96c-6.2-2.1-9.6-9-7.4-15.3l13.7-39.9c2.1-6.2 9-9.6 15.3-7.4l279.4 96.1c6.2 2.1 9.6 9 7.4 15.3L1226 153c-2.2 6.2-9.1 9.6-15.3 7.4z"/><path d="M746.9 535.7c0 8.2-6.6 14.8-14.8 14.8H605.9c-8.2 0-14.8-6.6-14.8-14.8V419.9c0-8.2 6.6-14.8 14.8-14.8h126.2c8.2 0 14.8 6.6 14.8 14.8v115.8z" fill="#fff"/></svg>') no-repeat  center top;background-size:100%;}

body.mimik.mimik-4 #faceDetails {width:1471px;height:482px;margin-left:-735.5px;margin-top:-316px;}
body.mimik.mimik-4 #faceDetails {background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1471 482"><style>.st0{fill:#e3a694}.st2{fill:#5c5c5c}</style><circle class="st0" cx="118.5" cy="318.5" r="118.5"/><circle class="st0" cx="1352.5" cy="318.5" r="118.5"/><path d="M784.2 483h-98.4c-6.6 0-12-5.4-12-12v-42.2c0-6.6 5.4-12 12-12h98.4c6.6 0 12 5.4 12 12V471c0 6.6-5.4 12-12 12z" fill="#fff" id="agiz"/><path d="M818 392h-61.9c-6.6 0-12-5.4-12-12v-42.2c0-6.6 5.4-12 12-12H818c6.6 0 12 5.4 12 12V380c0 6.6-5.4 12-12 12zM716 392h-65.9c-6.6 0-12-5.4-12-12v-42.2c0-6.6 5.4-12 12-12H716c6.6 0 12 5.4 12 12V380c0 6.6-5.4 12-12 12z"/><circle cx="1097.3" cy="167.5" r="39.5"/><path d="M1198.1 162.6l-139.9-37.5c-4.3-1.1-6.9-5.6-5.7-9.9 1.1-4.3 5.6-6.9 9.9-5.7l139.9 37.5c4.3 1.1 6.9 5.6 5.7 9.9-1.2 4.3-5.6 6.8-9.9 5.7z"/><circle class="st2" cx="1077.3" cy="166.7" r="11.3"/><circle cx="287.5" cy="167.5" r="39.5"/><path d="M387.8 163.2l-140.6-34.7c-4.3-1.1-7-5.4-5.9-9.8 1.1-4.3 5.4-7 9.8-5.9l140.6 34.7c4.3 1.1 7 5.4 5.9 9.8-1 4.4-5.4 7-9.8 5.9z"/><circle class="st2" cx="267.5" cy="166.7" r="11.3"/><path d="M460.2 134.3l-288-66c-6.4-1.5-10.5-7.9-9-14.4l9.4-41.1c1.5-6.4 7.9-10.5 14.4-9l288 66c6.4 1.5 10.5 7.9 9 14.4l-9.4 41.1c-1.5 6.5-8 10.5-14.4 9zM1272.6 137.1L985.9 65.4c-6.4-1.6-10.3-8.1-8.7-14.6l10.2-40.9c1.6-6.4 8.2-10.3 14.6-8.7l286.7 71.7c6.4 1.6 10.3 8.1 8.7 14.6l-10.2 40.9c-1.7 6.3-8.2 10.3-14.6 8.7z"/></svg>') no-repeat  center top;background-size:100%;}

body.mimik.mimik-5 #faceDetails {width:1341px;height:631px;margin-left:-670.5px;margin-top:-414px;}
body.mimik.mimik-5 #faceDetails {background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1341 632"><style>.st0{fill:#e3a694}.st1{fill:#5c5c5c}</style><circle class="st0" cx="118.8" cy="488.8" r="118.5"/><circle class="st0" cx="1222.8" cy="486.2" r="118.5"/><path d="M994.5 453.5l4.9 41.9c.8 6.6-4 12.5-10.5 13.3l-294 34.3c-6.6.8-12.5-4-13.3-10.5l-4.9-41.9c-.8-6.6 4-12.5 10.5-13.3l294-34.3c6.5-.8 12.5 3.9 13.3 10.5zM663.4 491.9l-5.2 41.9c-.8 6.5-6.8 11.2-13.4 10.4l-293.6-36.7c-6.5-.8-11.2-6.8-10.4-13.4l5.2-41.9c.8-6.5 6.8-11.2 13.4-10.4L653 478.5c6.5.8 11.2 6.8 10.4 13.4z"/><circle cx="1071.3" cy="271.5" r="39.5"/><path d="M1144.1 234.8L1001 257.2c-4.3.7-8.6-2.3-9.3-6.7-.7-4.3 2.3-8.6 6.7-9.3l143.1-22.4c4.3-.7 8.6 2.3 9.3 6.7.6 4.5-2.4 8.6-6.7 9.3z"/><circle class="st1" cx="1051.3" cy="270.7" r="11.3"/><circle cx="257.5" cy="271.5" r="39.5"/><path d="M328.2 255.6l-143.5-19.2c-4.4-.6-7.6-4.6-7-9.1.6-4.4 4.6-7.6 9.1-7l143.5 19.2c4.4.6 7.6 4.6 7 9.1-.6 4.5-4.7 7.6-9.1 7z"/><circle class="st1" cx="237.5" cy="270.7" r="11.3"/><path d="M400 104.5L106.8 67.4c-6.5-.8-11.2-6.9-10.4-13.4l5.3-41.9c.8-6.5 6.9-11.2 13.4-10.4l293.2 37.2c6.5.8 11.2 6.9 10.4 13.4l-5.3 41.9c-.9 6.5-6.9 11.1-13.4 10.3zM1222.1 65.7l-292.7 40.4c-6.5.9-12.6-3.7-13.5-10.2L910.1 54c-.9-6.5 3.7-12.6 10.2-13.5L1213 .1c6.5-.9 12.6 3.7 13.5 10.2l5.8 41.8c1 6.6-3.6 12.7-10.2 13.6z"/><path d="M698.3 626.3c0 3.1-2.5 5.6-5.6 5.6h-47.5c-3.1 0-5.6-2.5-5.6-5.6v-43.6c0-3.1 2.5-5.6 5.6-5.6h47.5c3.1 0 5.6 2.5 5.6 5.6v43.6z" fill="#fff"/></svg>') no-repeat  center top;background-size:100%;}

body.mimik.mimik-6 #faceDetails {width:1471px;height:588px;margin-left:-735.5px;margin-top:-370px;}
body.mimik.mimik-6 #faceDetails {background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1471 588"><style>.st0{fill:#e3a694}.st2{fill:#5c5c5c}</style><circle class="st0" cx="118.5" cy="371.5" r="118.5"/><circle class="st0" cx="1352.5" cy="371.5" r="118.5"/><path d="M715.1 589.1h-295c-6.6 0-12-5.4-12-12v-93.3c0-6.6 5.4-12 12-12h295c6.6 0 12 5.4 12 12v93.3c0 6.6-5.4 12-12 12z" fill="#fff" id="agiz"/><path d="M1052 445H756.1c-6.6 0-12-5.4-12-12v-42.2c0-6.6 5.4-12 12-12H1052c6.6 0 12 5.4 12 12V433c0 6.6-5.4 12-12 12zM716 445H420.1c-6.6 0-12-5.4-12-12v-42.2c0-6.6 5.4-12 12-12H716c6.6 0 12 5.4 12 12V433c0 6.6-5.4 12-12 12z"/><circle cx="1137.3" cy="220.5" r="39.5"/><path d="M1209.7 195.1h-144.8c-4.4 0-8.1-3.6-8.1-8.1 0-4.4 3.6-8.1 8.1-8.1h144.8c4.4 0 8.1 3.6 8.1 8.1-.1 4.5-3.7 8.1-8.1 8.1z"/><circle class="st2" cx="1117.3" cy="219.7" r="11.3"/><circle cx="323.5" cy="220.5" r="39.5"/><path d="M395.9 195.1H251.1c-4.4 0-8.1-3.6-8.1-8.1 0-4.4 3.6-8.1 8.1-8.1h144.8c4.4 0 8.1 3.6 8.1 8.1s-3.6 8.1-8.1 8.1z"/><circle class="st2" cx="303.5" cy="219.7" r="11.3"/><path d="M471.3 71.2H175.8c-6.6 0-12-5.4-12-12V17c0-6.6 5.4-12 12-12h295.5c6.6 0 12 5.4 12 12v42.2c0 6.6-5.4 12-12 12zM1285 66.7H989.5c-6.6 0-12-5.4-12-12V12.5c0-6.6 5.4-12 12-12H1285c6.6 0 12 5.4 12 12v42.2c0 6.6-5.4 12-12 12z"/></svg>') no-repeat  center top;background-size:100%;}

body.mimik.mimik-7 #faceDetails {width:1471px;height:596px;margin-left:-735.5px;margin-top:-372px;}
body.mimik.mimik-7 #faceDetails {background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1471 596"><style>.st0{fill:#e3a694}.st2{fill:#5c5c5c}</style><circle class="st0" cx="118.5" cy="370.5" r="118.5"/><circle class="st0" cx="1352.5" cy="370.5" r="118.5"/><path d="M1028.6 595.6l-624-70.5c-6.4-1.6-10.3-8.2-8.7-14.6L428.6 390c1.6-6.4 8.2-10.3 14.6-8.7l602 155.4c6.4 1.6 10.3 8.2 8.7 14.6l-10.7 35.6c-1.7 6.4-8.2 10.3-14.6 8.7z" fill="#fff" id="agiz"/><path d="M1056.3 512.3L766.4 453c-6.5-1.3-10.7-7.7-9.3-14.2l8.5-41.3c1.3-6.5 7.7-10.7 14.2-9.3l289.9 59.4c6.5 1.3 10.7 7.7 9.3 14.2l-8.5 41.3c-1.4 6.3-7.7 10.5-14.2 9.2zM725.8 434.3L455.3 314.4c-6-2.7-8.8-9.8-6.1-15.8l17.1-38.6c2.7-6 9.8-8.8 15.8-6.1l270.5 119.9c6 2.7 8.8 9.8 6.1 15.8l-17.1 38.6c-2.7 6-9.8 8.8-15.8 6.1z"/><circle cx="1137.3" cy="219.5" r="39.5"/><path d="M1209.7 194.1h-144.8c-4.4 0-8.1-3.6-8.1-8.1 0-4.4 3.6-8.1 8.1-8.1h144.8c4.4 0 8.1 3.6 8.1 8.1-.1 4.5-3.7 8.1-8.1 8.1z"/><circle class="st2" cx="1117.3" cy="218.7" r="11.3"/><circle cx="323.5" cy="219.5" r="39.5"/><path d="M395.9 194.1H251.1c-4.4 0-8.1-3.6-8.1-8.1 0-4.4 3.6-8.1 8.1-8.1h144.8c4.4 0 8.1 3.6 8.1 8.1s-3.6 8.1-8.1 8.1z"/><circle class="st2" cx="303.5" cy="218.7" r="11.3"/><path d="M471.3 70.2H175.8c-6.6 0-12-5.4-12-12V16c0-6.6 5.4-12 12-12h295.5c6.6 0 12 5.4 12 12v42.2c0 6.6-5.4 12-12 12zM1285 65.7H989.5c-6.6 0-12-5.4-12-12V11.5c0-6.6 5.4-12 12-12H1285c6.6 0 12 5.4 12 12v42.2c0 6.6-5.4 12-12 12z"/></svg>') no-repeat  center top;background-size:100%;}

body.mimik.mimik-8 #faceDetails {width:1340px;height:534px;margin-left:-568px;margin-top:-350px;}
body.mimik.mimik-8 #faceDetails {background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1340 534"><style>.st0{fill:#e3a694}.st1{fill:#5c5c5c}</style><circle class="st0" cx="117.8" cy="368.8" r="118.5"/><circle class="st0" cx="1221.8" cy="366.2" r="118.5"/><path d="M982.6 374.6l-295.3-19c-6.6-.4-11.6-6.2-11.2-12.7l2.7-42.1c.4-6.6 6.2-11.6 12.7-11.2l295.3 19c6.6.4 11.6 6.2 11.2 12.7l-2.7 42.1c-.4 6.5-6.1 11.6-12.7 11.2zM650.7 356.2l-295.4 17.7c-6.6.4-12.3-4.7-12.7-11.3l-2.5-42.1c-.4-6.6 4.7-12.3 11.3-12.7l295.4-17.7c6.6-.4 12.3 4.7 12.7 11.3l2.5 42.1c.4 6.6-4.7 12.3-11.3 12.7z"/><circle cx="1070.3" cy="151.5" r="39.5"/><path d="M1143.1 114.8L1000 137.2c-4.3.7-8.6-2.3-9.3-6.7-.7-4.3 2.3-8.6 6.7-9.3l143.1-22.4c4.3-.7 8.6 2.3 9.3 6.7.6 4.5-2.4 8.6-6.7 9.3z"/><circle class="st1" cx="1050.3" cy="150.7" r="11.3"/><circle cx="256.5" cy="151.5" r="39.5"/><path d="M327.2 135.6l-143.5-19.2c-4.4-.6-7.6-4.6-7-9.1.6-4.4 4.6-7.6 9.1-7l143.5 19.2c4.4.6 7.6 4.6 7 9.1-.6 4.5-4.7 7.6-9.1 7z"/><circle class="st1" cx="236.5" cy="150.7" r="11.3"/><path d="M399 104.5L105.8 67.4c-6.5-.8-11.2-6.9-10.4-13.4l5.3-41.9c.8-6.5 6.9-11.2 13.4-10.4l293.2 37.2c6.5.8 11.2 6.9 10.4 13.4l-5.3 41.9c-.9 6.5-6.9 11.1-13.4 10.3zM1221.1 65.7l-292.7 40.4c-6.5.9-12.6-3.7-13.5-10.2L909.1 54c-.9-6.5 3.7-12.6 10.2-13.5L1212 .1c6.5-.9 12.6 3.7 13.5 10.2l5.8 41.8c1 6.6-3.6 12.7-10.2 13.6z"/><path d="M747.1 519.8c0 8.3-6.7 15-15 15H603.9c-8.3 0-15-6.7-15-15V402.1c0-8.3 6.7-15 15-15h128.2c8.3 0 15 6.7 15 15v117.7z" fill="#fff"/></svg>') no-repeat  center top;background-size:100%;}

body.mimik.mimik-9 #faceDetails {width:1471px;height:587px;margin-left:-735.5px;margin-top:-378px;}
body.mimik.mimik-9 #faceDetails {background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1471 588"><style>.st0{fill:#e3a694}.st2{fill:#5c5c5c}</style><circle class="st0" cx="118.5" cy="398.5" r="118.5"/><circle class="st0" cx="1352.5" cy="398.5" r="118.5"/><path d="M1039.9 452.8h-12.5c-11 0-20 9-20 20v30H471.1v-30c0-11-9-20-20-20h-12.5c-11 0-20 9-20 20V569c0 11 9 20 20 20h601.3c11 0 20-9 20-20v-96.2c0-11-9-20-20-20z" fill="#fff"/><path d="M1054.8 414.9l-294 33.8c-6.6.8-12.5-4-13.3-10.6l-4.8-41.9c-.8-6.6 4-12.5 10.6-13.3l294-33.8c6.6-.8 12.5 4 13.3 10.6l4.8 41.9c.7 6.6-4 12.5-10.6 13.3zM710.8 449.8l-293.7-36.2c-6.6-.8-11.3-6.8-10.4-13.4l5.2-41.9c.8-6.6 6.8-11.3 13.4-10.4L719 384.1c6.6.8 11.3 6.8 10.4 13.4l-5.2 41.9c-.8 6.5-6.8 11.2-13.4 10.4z"/><circle cx="1137.3" cy="248.3" r="40.3"/><path d="M1209.7 222.1h-144.8c-4.4 0-8.1-3.6-8.1-8.1 0-4.4 3.6-8.1 8.1-8.1h144.8c4.4 0 8.1 3.6 8.1 8.1-.1 4.5-3.7 8.1-8.1 8.1z"/><circle class="st2" cx="1116.9" cy="247.4" r="11.5"/><circle cx="323.5" cy="248.3" r="40.3"/><path d="M395.9 222.1H251.1c-4.4 0-8.1-3.6-8.1-8.1 0-4.4 3.6-8.1 8.1-8.1h144.8c4.4 0 8.1 3.6 8.1 8.1s-3.6 8.1-8.1 8.1z"/><circle class="st2" cx="303.1" cy="247.4" r="11.5"/><path d="M472.6 144.4l-295.2 12.5c-6.6.3-12.2-4.9-12.5-11.5l-1.8-42.2c-.3-6.6 4.9-12.2 11.5-12.5l295.2-12.5c6.6-.3 12.2 4.9 12.5 11.5l1.8 42.2c.2 6.6-4.9 12.2-11.5 12.5zM1278.5 137.7L991.9 65.8c-6.4-1.6-10.3-8.2-8.7-14.6l10.3-40.9c1.6-6.4 8.2-10.3 14.6-8.7l286.6 71.9c6.4 1.6 10.3 8.2 8.7 14.6l-10.3 40.9c-1.6 6.3-8.2 10.3-14.6 8.7z"/></svg>') no-repeat  center top;background-size:100%;}

body.mimik.mimik-10 #faceDetails {width:1471px;height:604px;margin-left:-735.5px;margin-top:-370px;}
body.mimik.mimik-10 #faceDetails {background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1471 604"><style>.st0{fill:#e3a694}.st2{fill:#5c5c5c}</style><circle class="st0" cx="118.5" cy="346.5" r="118.5"/><circle class="st0" cx="1352.5" cy="346.5" r="118.5"/><path d="M931.5 452.3c0-6.6-5.4-12-12-12H912c-6.6 0-12 5.4-12 12v18H578.5v-18c0-6.6-5.4-12-12-12H559c-6.6 0-12 5.4-12 12V510c0 .8.1 1.6.3 2.4V540c0 6.6 5.4 12 12 12h77v41.1c0 6.6 5.4 12 12 12h181.9c6.6 0 12-5.4 12-12V552h77.1c6.6 0 12-5.4 12-12v-27.6c.2-.8.3-1.6.3-2.4v-57.7z" fill="#fff"/><path d="M1054.8 402.9l-294 33.8c-6.6.8-12.5-4-13.3-10.6l-4.8-41.9c-.8-6.6 4-12.5 10.6-13.3l294-33.8c6.6-.8 12.5 4 13.3 10.6l4.8 41.9c.7 6.6-4 12.5-10.6 13.3zM710.8 437.8l-293.7-36.2c-6.6-.8-11.3-6.8-10.4-13.4l5.2-41.9c.8-6.6 6.8-11.3 13.4-10.4L719 372.1c6.6.8 11.3 6.8 10.4 13.4l-5.2 41.9c-.8 6.5-6.8 11.2-13.4 10.4z"/><circle cx="1137.3" cy="169.5" r="13.6"/><path d="M1209.7 170.1h-144.8c-4.4 0-8.1-3.6-8.1-8.1 0-4.4 3.6-8.1 8.1-8.1h144.8c4.4 0 8.1 3.6 8.1 8.1-.1 4.5-3.7 8.1-8.1 8.1z"/><circle class="st2" cx="1130.4" cy="169.3" r="3.9"/><circle cx="323.5" cy="170.3" r="14.3"/><path d="M395.9 170.1H251.1c-4.4 0-8.1-3.6-8.1-8.1 0-4.4 3.6-8.1 8.1-8.1h144.8c4.4 0 8.1 3.6 8.1 8.1s-3.6 8.1-8.1 8.1z"/><circle class="st2" cx="316.3" cy="170" r="4.1"/><path d="M472.6 66.9L177.3 79.4c-6.6.3-12.2-4.9-12.5-11.5L163 25.8c-.3-6.6 4.9-12.2 11.5-12.5L469.8.8c6.6-.3 12.2 4.9 12.5 11.5l1.8 42.2c.2 6.5-4.9 12.1-11.5 12.4zM1282 92.1l-294.6-23c-6.6-.5-11.5-6.3-11-12.9l3.3-42.1c.5-6.6 6.3-11.5 12.9-11l294.6 23c6.6.5 11.5 6.3 11 12.9l-3.3 42.1c-.5 6.5-6.3 11.5-12.9 11z"/></svg>') no-repeat  center top;background-size:100%;}

audio#audio {position:absolute;left:-9999px;top:-9999px;z-index:-1000;visibility:hidden;opacity:0;}