/*
Author: Genio - Yüce Özkan
Author URL: http://www.genio.com.tr/
*/

@media (max-width:1440px) {

    #faceDetails {width:1297px;height:396px;margin-left:-648.5px;margin-top:-250px;}
    body.mimik.mimik-1 #faceDetails {width:1182px;height:444px;margin-left:-591px;margin-top:-280px;}
    body.mimik.mimik-3 #faceDetails {width:1182px;height:484px;margin-left:-591px;margin-top:-305px;}
    body.mimik.mimik-5 #faceDetails {width:1182px;height:556px;margin-left:-591px;margin-top:-311px;}
    body.mimik.mimik-8 #faceDetails {width:1182px;height:471px;margin-left:-591px;margin-top:-297px;}

    body.mimik.mimik-2 #faceDetails {width:1297px;height:308px;margin-left:-648.5px;margin-top:-194px;}
    body.mimik.mimik-4 #faceDetails {width:1297px;height:425px;margin-left:-648.5px;margin-top:-268px;}
    body.mimik.mimik-6 #faceDetails {width:1297px;height:518px;margin-left:-648.5px;margin-top:-307px;}
    body.mimik.mimik-7 #faceDetails {width:1297px;height:525px;margin-left:-648.5px;margin-top:-311px;}
    body.mimik.mimik-9 #faceDetails {width:1297px;height:512px;margin-left:-648.5px;margin-top:-313px;}
    body.mimik.mimik-10 #faceDetails {width:1297px;height:532px;margin-left:-648.5px;margin-top:-315px;}

    svg#zekiLogo {top:20px;left:20px;width:140px;height:auto;}
    svg#vatanBilgisayarLogo {bottom:40px;right:20px;width:130px;height:auto;}
    svg#intelLogo {bottom:20px;left:20px;width:90px;height:auto;}

    form#search {width:580px;height:60px;margin-left:-285px;bottom:0;}
    form#search label input {height:60px;line-height:60px;font-size:30px;padding-right:65px;}
    form#search button {width:60px;height:60px;background-size:35px;}

}

@media (max-width:1280px) {

    #faceDetails {width:1166px;height:356px;margin-left:-583px;margin-top:-220px;}

    body.mimik.mimik-1 #faceDetails {width:1062px;height:399px;margin-left:-531px;margin-top:-246px;}
    body.mimik.mimik-3 #faceDetails {width:1062px;height:435px;margin-left:-531px;margin-top:-268px;}
    body.mimik.mimik-5 #faceDetails {width:1062px;height:499px;margin-left:-531px;margin-top:-273px;}
    body.mimik.mimik-8 #faceDetails {width:1062px;height:423px;margin-left:-531px;margin-top:-261px;}

    body.mimik.mimik-2 #faceDetails {width:1166px;height:276px;margin-left:-583px;margin-top:-170px;}
    body.mimik.mimik-4 #faceDetails {width:1166px;height:382px;margin-left:-583px;margin-top:-235px;}
    body.mimik.mimik-6 #faceDetails {width:1166px;height:465px;margin-left:-583px;margin-top:-270px;}
    body.mimik.mimik-7 #faceDetails {width:1166px;height:471px;margin-left:-583px;margin-top:-273px;}
    body.mimik.mimik-9 #faceDetails {width:1166px;height:460px;margin-left:-583px;margin-top:-275px;}
    body.mimik.mimik-10 #faceDetails {width:1166px;height:478px;margin-left:-583px;margin-top:-277px;}

    form#search {width:520px;height:54px;margin-left:-256px;bottom:0;}
    form#search label input {height:54px;line-height:54px;font-size:26px;padding-right:60px;}
    form#search button {width:54px;height:54px;background-size:26px;}
}

/* Laptop With Touch */
@media (max-width:1280px) and (min-height:950px) {

}

/* iPad Pro Landscape */
@media (max-width:1440px) and (min-height:1024px) {


}

@media (max-width:1199px) {

    #faceDetails {width:1028px;height:314px;margin-left:-514px;margin-top:-180px;}

    body.mimik.mimik-1 #faceDetails {width:937px;height:351px;margin-left:-468.5px;margin-top:-201px;}
    body.mimik.mimik-3 #faceDetails {width:937px;height:383px;margin-left:-468.5px;margin-top:-219px;}
    body.mimik.mimik-5 #faceDetails {width:937px;height:440px;margin-left:-468.5px;margin-top:-223px;}
    body.mimik.mimik-8 #faceDetails {width:937px;height:373px;margin-left:-468.5px;margin-top:-213px;}

    body.mimik.mimik-2 #faceDetails {width:1028px;height:243px;margin-left:-514px;margin-top:-139px;}
    body.mimik.mimik-4 #faceDetails {width:1028px;height:337px;margin-left:-514px;margin-top:-192px;}
    body.mimik.mimik-6 #faceDetails {width:1028px;height:410px;margin-left:-514px;margin-top:-220px;}
    body.mimik.mimik-7 #faceDetails {width:1028px;height:415px;margin-left:-514px;margin-top:-223px;}
    body.mimik.mimik-9 #faceDetails {width:1028px;height:405px;margin-left:-514px;margin-top:-225px;}
    body.mimik.mimik-10 #faceDetails {width:1028px;height:421px;margin-left:-514px;margin-top:-226px;}

    svg#saclar {top:0;}
    svg#gomlek {bottom:-30px;}

    svg#zekiLogo {top:15px;left:15px;width:120px;}
    svg#vatanBilgisayarLogo {bottom:30px;right:15px;width:110px;}
    svg#intelLogo {bottom:15px;left:15px;width:70px;}

    form#search {width:460px;height:48px;margin-left:-226px;}
    form#search label input {height:48px;line-height:48px;padding-right:60px;}
    form#search button {width:48px;height:48px;background-size:24px;}

}

/* iPad Pro Portrait */
@media (max-width:1199px) and (min-height:1024px) {

    #faceDetails {margin-top:-280px;}
    svg#gomlek {width:3000px;left:50%;margin-left:-1500px;}

}

@media (max-width:991px) {

    #faceDetails {width:891px;height:272px;margin-left:-445.5px;margin-top:-240px;}

    body.mimik.mimik-1 #faceDetails {width:812px;height:304px;margin-left:-406px;margin-top:-163px;}
    body.mimik.mimik-3 #faceDetails {width:812px;height:331px;margin-left:-406px;margin-top:-178px;}
    body.mimik.mimik-5 #faceDetails {width:812px;height:381px;margin-left:-406px;margin-top:-182px;}
    body.mimik.mimik-8 #faceDetails {width:812px;height:321px;margin-left:-406px;margin-top:-173px;}

    body.mimik.mimik-2 #faceDetails {width:891px;height:210px;margin-left:-445.5px;margin-top:-113px;}
    body.mimik.mimik-4 #faceDetails {width:891px;height:291px;margin-left:-445.5px;margin-top:-156px;}
    body.mimik.mimik-6 #faceDetails {width:891px;height:355px;margin-left:-445.5px;margin-top:-179px;}
    body.mimik.mimik-7 #faceDetails {width:891px;height:359px;margin-left:-445.5px;margin-top:-182px;}
    body.mimik.mimik-9 #faceDetails {width:891px;height:350px;margin-left:-445.5px;margin-top:-184px;}
    body.mimik.mimik-10 #faceDetails {width:891px;height:364px;margin-left:-445.5px;margin-top:-184px;}

    svg#gomlek {width:1400px;left:50%;margin-left:-700px;}

    form#search {width:400px;height:40px;margin-left:-196px;}
    form#search label input {height:40px;line-height:40px;padding-right:50px;}
    form#search button {width:40px;height:40px;background-size:20px;}
}


@media (max-width:767px) {

    #faceDetails {width:126%!important;height:auto;left:0!important;top:50%!important;margin-left:-13%!important;margin-top:0;}
    body.mimik.mimik-1 #faceDetails {width:114%!important;margin-left:-7%!important;}
    body.mimik.mimik-3 #faceDetails {width:114%!important;margin-left:-7%!important;}
    body.mimik.mimik-5 #faceDetails {width:114%!important;margin-left:-7%!important;}
    body.mimik.mimik-8 #faceDetails {width:114%!important;margin-left:-7%!important;}
    #faceDetails svg {width:100%;height:auto;display:block;visibility:hidden;}

    svg#zekiLogo {top:10px;left:10px;width:100px;}
    svg#vatanBilgisayarLogo {bottom:10px;right:5px;width:90px;}
    svg#intelLogo {bottom:5px;left:5px;width:50px;}

    svg#gomlek {width:1200px;margin-left:-600px;}

    form#search {width:44.5%;height:15%;margin-left:-22.3%;bottom:0;}
    form#search label input {height:100%;line-height:100%;font-size:14px;padding:0 30px 0 10px;}
    form#search button {width:30px;height:100%;background-size:14px;}

    #subtitle span {font-size:16px;line-height:20px;}


}
@media (max-width:767px) and (orientation:landscape) {

    #faceDetails {width:90%!important;height:auto;left:0!important;top:53%!important;margin-left:5%!important;margin-top:0;}
    body.mimik.mimik-1 #faceDetails {width:80%!important;margin-left:10%!important;}
    body.mimik.mimik-3 #faceDetails {width:80%!important;margin-left:10%!important;}
    body.mimik.mimik-5 #faceDetails {width:80%!important;margin-left:10%!important;}
    body.mimik.mimik-8 #faceDetails {width:80%!important;margin-left:10%!important;}

    svg#gomlek {width:100%;left:0;margin-left:0;bottom:-50px;}

}
@media (max-width:767px) and (min-height:500px) {



}
@media (max-width:767px) and (min-height:680px) {

}
@media (max-width:320px) {

}

/*
iphone 6 & iphone 6 plus */
@media (min-width:569px) and (max-width:767px) {

}

@media (max-width:991px) and (orientation:landscape) {


}